<div class="box clearfix">
    <h2>Contact</h2>
    <div class="contact-item">
        <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
        <div class="title only pull-right">{{contact.phone}}</div>
    </div>
    <div class="contact-item">
        <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
        <div class="title only pull-right">{{contact.email}}</div>
    </div>
    <div class="contact-item">
        <div class="icon pull-left text-center"><span class="fa fa-linkedin-square fa-fw"></span></div>
        <div class="title pull-right">Linkedin</div>
        <div class="description pull-right">{{contact.linkedin}}</div>
    </div>
    <div class="contact-item">
        <div class="icon pull-left text-center"><span class="fa fa-facebook fa-fw"></span></div>
        <div class="title pull-right">Facebook</div>
        <div class="description pull-right">{{contact.facebook}}</div>
    </div>
    <div class="contact-item">
        <div class="icon pull-left text-center"><span class="fa fa-skype fa-fw"></span></div>
        <div class="title pull-right">Skype</div>
        <div class="description pull-right">{{contact.skype}}</div>
    </div>
</div>