<div class="box">
    <h2>Skills</h2>
    <div class="skills">
        <div class="item-skills" *ngFor="let skill of skills" [@level]="getLevelName(skill.level)">{{skill.label}}</div>
        <div class="skills-legend clearfix">
            <div class="legend-left legend">Beginner</div>
            <div class="legend-left legend"><span>Proficient</span></div>
            <div class="legend-right legend"><span>Expert</span></div>
            <div class="legend-right legend">Master</div>
        </div>
    </div>
</div>